<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ICE BREAKER</title>
    <link rel="icon" href="../static/img/icon.ico" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="logo">
                        <span class="logo__text">ICE BREAKER</span>
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="/" class="menu__list-link">home</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
       
        <main class="main">
            <section class="section">
                <div class="container">
                    <h1>Error: {{ error }}</h1>
                </div>
            </section>
        </main>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>