<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ICE BREAKER</title>
    <link rel="icon" href="../static/img/icon.ico" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="logo">
                        <span class="logo__text">ICE BREAKER</span>
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="/" class="menu__list-link">home</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="/sign_in" class="menu__list-link">sign in</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <main class="main">
            <section class="section">
                <div class="container">
                    <h1>Let's make networking easy.</h1>
                    
                    <form method="post" class="form" enctype="multipart/form-data">
                        <input class="form__input" name="name" placeholder="your name" required>
                        <input class="form__input" name="email" type="email" placeholder="your email" required>

                        <input class="form__input" 
                            name="phone"
                            placeholder="type in your phone number (+65XXXXXXXX)"
                            pattern="^\+65\d{8}$"
                            title="Format: +65XXXXXXXX"
                            required>

                        <div class="form__row">
                            <input type="password" class="form__input form__input--half" name="password" placeholder="password" required>
                            <input type="password" class="form__input form__input--half" name="repeating" placeholder="repeat password" required>
                        </div>

                        <div class="file-upload">
                            <label for="resume" class="file-btn">Upload resume</label>
                            <span id="file-name" class="file-name">No file selected</span>
                            <input type="file" id="resume" name="resume" accept=".pdf" hidden>
                        </div>

                        <div class="flash">
                            {% for msg in get_flashed_messages() %}
                                <div class="flash__item">
                                    <p>{{ msg }}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <button class="btn" type="submit">Sign Up</button>
                    </form>
                </div>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>